body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(124, 124, 124);
}

.cookie-main {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20vw;
}
.shop-items {
  display: grid;
  position: absolute;
  text-wrap: wrap;
  grid-template-columns: 200px 200px;
  right: 5vw;
  top: 0px;
  border-color: black;
}

.shop-items button {
  border-radius: 5%;
  width: 6vw;
  background: transparent;
}
